/* Resetting some default styles */
body, h1, p, input, button, select {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    direction: rtl; /* For right-to-left text */
}

.container {
    background-color: #40534C;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
}

h1 {
    text-align: center;
    color: #D6BD98;
    margin-bottom: 30px;
    font-size: 32px;
}

.form-group {
    margin-bottom: 20px;
    position: relative;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #D6BD98;
    font-size: 24px;
}

label i {
    margin-right: 10px;
    font-size: 28px;
}

input, select {
    width: 100%;
    padding: 15px;
    padding-right: 40px; /* Adjust padding for icon */
    margin-bottom: 15px;
    border: 1px solid #D6BD98;
    border-radius: 10px;
    background-color: #f4f4f4;
    font-size: 24px;
}

input::placeholder, select::placeholder {
    color: #999;
    font-size: 20px;
}

button {
    display: block;
    width: 100%;
    padding: 20px;
    background: #D6BD98;
    color: #40534C;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 24px;
    margin-top: 20px;
    transition: background 0.3s ease;
}

button:hover {
    background: #c4a773;
}

#countdown {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-top: 30px;
    color: #D6BD98;
}

